{% load static %}

<html>
	<head>
		<title>
			Services
		</title>
		<link rel="stylesheet" href="{% static 'C:\Users\KHAN NISAR NASEER\Desktop\project2\protwo\static\services3.css' %}">
	</head>
	<body>
	<div id="main">
		<h1>
			Service 3
		</h1>
<hr>		
		<p>
			In this section you can input an image file <br>
			of what have you successfully prepared and <br>
			our system will search similar dishes for <br>
			you on the internet and display if found any.
			
		</p>
		<div class="box">
		<input type="text" name="box" placeholder="Search For Dishes...">
		<i class="fa fa-search"></i>
	</div>	
	</body>
</html>